
<div class="container">
  <h1 class="beermefont">The Creator</h1>
  <div class="col-md-8 col-md-offset-2 jumbotron">
		<p class="landingp">My name is Adriane. I am a web developer based in Seattle, WA. I built this app using Javascript, Node.js, Express, Bootstrap, and the Internet Chuck Norris Database at icndb.com. I created this app because who doesn't love fortune cookies? Chuck Norris sure does.</p>
	</div>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="beermefont">Connect with me</h1>
    <h3 class="jumbotron"><a href="https://www.linkedin.com/in/adrianepurdy">LinkedIn</a> | <a href="https://www.github.com/adriane26">GitHub</a> | <a href="http://adrianepurdy.com">Portfolio</a></h3>
  </div>
</div>