<div class="container-fluid">
	<h1 class="centered">The Creator</h1>
	<div class="col-md-8 col-md-offset-2 jumbotron blocked disclaimerDiv">
		<p>My name is Adriane. I am a web developer based in Seattle, WA. I built this app using JavaScript, Node.js,
			Express, Bootstrap, and the Internet Chuck Norris Database at icndb.com. I created this app because fortune
			cookies are fun. Chuck Norris agrees. Chuck Norris also approves this app.*</p>
		<p id="disclaimer"><small>*Chuck Norris has not approved this app. Please don't hurt me, Chuck Norris.</small></p>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h1 class="centered">Connect with me</h1>
		<h3 class="jumbotron blocked centered">
			<a href="https://www.linkedin.com/in/adrianepurdy">LinkedIn</a> | <a href="https://www.github.com/adriane26">GitHub</a>
			| <a href="http://adrianepurdy.com">Portfolio</a>
		</h3>
	</div>
	<!--  <div class="col-md-10 col-md-offset-1">
  	<p id="disclaimer"><small>*Chuck Norris has not approved this app.</small></p>
  </div> -->
</div>

<!-- 
<div class="container">
  <h1 class="beermefont">The Creator</h1>
  <div class="col-md-8 col-md-offset-2 jumbotron">
		<p class="landingp">My name is Adriane. I am a web developer based in Seattle, WA. I built this app using Javascript, Node.js, Express, Bootstrap, and BreweryDB. I created this app because I am a bit of a beer geek and wanted something to use at tasting events and breweries as I discover new beers.</p>
	</div>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="beermefont">Connect with me</h1>
    <h3 class="jumbotron"><a href="https://www.linkedin.com/in/adrianepurdy">LinkedIn</a> | <a href="https://www.github.com/adriane26">GitHub</a> | <a href="http://adrianepurdy.com">Portfolio</a></h3>
  </div>
</div> -->