<div class='container-fluid'>
	<h4>(This app is a work in progress)</h4>
	<form action="/cookie" method="GET">
	  <h3>Click the cookie and reveal your fortune!</h3>
	  	<!-- <button href="/revealed" type="submit" class="btn btn-warning">Open the cookie of fortune!</button> -->
	  <a href="/revealed"><input type="image" class="img img-responsive" alt="fortune cookie" src="cookieClosed.jpg"></a>
	</form>
		<!-- <img id="cookie" src="cookieClosed.jpg"> -->
		<!-- <div>
			<h1 id="fortune">Your fortune is:
			</h1>
		</div> -->
		<!-- after the cookie is clicked and the fortune is revealed, show "revealed"--> 
</div>
