<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
	<title>Fortunately</title>
</head>

<body>
	<div class='container-fluid'>
		<form action="/cookie" method="GET">
	  	<h3>Reveal your fortune!</h3>
	  	<button type="submit" class="btn btn-warning">Open the cookie of fortune!</button>
		</form>
		<!-- <img id="cookie" src="cookie.jpg"> -->
		<div>
			<h1 id="fortune">Your fortune is:
			</h1>
		</div>
		<!-- after the cookie is clicked and the fortune is revealed, show "revealed"--> 
		<div id="cookieHasSpoken">
			<h1 id="revealed"> the cookie has spoken! </h1>
		</div>
		<footer>
			<a href="/about">About</a>
		</footer>
	</div>

</body>
</html>