<div class="container-fluid">
	<form action="/cookie" method="GET">
		<h1 id="clickCookieH1" class="centered">Click the cookie to reveal your fortune!</h1>
		<div class="col-sm-6 col-sm-offset-3">
			<a href="/revealed"><input type="image" class="img img-responsive cookieClosed" alt="fortune cookie" src="cookieClosed.jpg"></a>
		</div>
	</form>
</div>