<div class='container-fluid'>
	<h4>(This app is a work in progress)</h4>
	<form action="/cookie" method="GET">
	  <h1>Click the cookie to reveal your fortune!</h1>
	  	<!-- <button href="/revealed" type="submit" class="btn btn-warning">Open the cookie of fortune!</button> -->
	  <a href="/revealed"><input type="image" class="img img-responsive" alt="fortune cookie" src="cookieClosed.jpg"></a>
	</form>
</div>
