<div class='container-fluid'>
	<form action="/cookie" method="GET">
	  <h1 id="clickCookieH1">Click the cookie to reveal your fortune!</h1>
	  <a href="/revealed"><input type="image" class="img img-responsive" alt="fortune cookie" src="cookieClosed.jpg"></a>
	</form>
</div>
