<div id="cookieHasSpoken" class="container-fluid">
	<h1 id=""> the cookie has spoken! </h1>
	<div id="fortuneDiv">
		<h1 id="fortune"> <%- data.value.joke %> </h1>
	</div>
	<img id="cookieOpen" class="img img-responsive" src="cookieBrokenOpen.jpg" alt="opened fortune cookie">
</div>