@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Baloo+Paaji|Covered+By+Your+Grace|Cutive+Mono|Fondamento|Gravitas+One|Inconsolata|Josefin+Slab|Megrim|Nova+Mono|Permanent+Marker|Roboto|Walter+Turncoat';


html {
  position: relative;
  min-height: 100%;
}

h1 {
	font-family: 'Megrim';
}

#clickCookieH1 {
	animation: pulse 2.3s;
}

h3, p, .fortuneFont {
	font-family: 'Inconsolata';
}

#cookieSpeaksH1 {
	padding-bottom: 20px;
	animation: fadeIn 2.3s;
}

#disclaimer {
	text-align: center;
	font-size: 10px;
	padding-top: 20px;
	/*position: absolute;*/
	/*bottom: 40px;*/
}

.centered {
	text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  padding-top: 40px;
  vertical-align: middle;
}

#fortuneDiv {
	/* outline: solid black 2px; */
	border: solid black 2px;
	vertical-align: middle;
	padding: 10px;
	margin-bottom: 25px;
	animation: rubberBand 1.2s;
	animation-delay: .2s;
}

#fortune {
	vertical-align: middle;
	font-family: 'Inconsolata';
}

#revealedCookieDiv {
	margin-bottom: 20px;
}

