@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Baloo+Paaji|Covered+By+Your+Grace|Cutive+Mono|Fondamento|Gravitas+One|Inconsolata|Josefin+Slab|Megrim|Nova+Mono|Permanent+Marker|Roboto|Special+Elite|Walter+Turncoat';


/*https://fonts.google.com/selection?selection.family=Amatic+SC|Baloo+Paaji|Berkshire+Swash|Cabin+Sketch|Coming+Soon|Covered+By+Your+Grace|Cutive+Mono|Fondamento|Gravitas+One|Inconsolata|Jomhuria|Megrim|Nova+Mono|Pacifico|Permanent+Marker|Roboto|Special+Elite|Walter+Turncoat&category=Display
*/

/*font-family: 'Baloo Paaji', cursive; <- kinda cartoony
font-family: 'Roboto', sans-serif; <-- typical bootstrap

font-family: 'Amatic SC', cursive; <-- pretty good for caps handwriting, could be for fortune
font-family: 'Permanent Marker', cursive; 
font-family: 'Covered By Your Grace', cursive;  <-handwriting
font-family: 'Walter Turncoat', cursive; <-- might be ok for fortune
font-family: 'Fondamento', cursive; <-- slight "Chinese" fortune cookie feel
font-family: 'Cutive Mono', monospace;  <-- might be too spacey for typed font
font-family: 'Inconsolata', monospace; <--good
font-family: 'Gravitas One', cursive; <--broadway playbill
font-family: 'Special Elite', cursive; <-- too ransom notey

font-family: 'Megrim', cursive; <-- I like it */

html {
  position: relative;
  min-height: 100%;
}

h1 {
	font-family: 'Megrim';
}

.h1font {
	text-align: center;
}

h3, p, .fortuneFont {
	font-family: 'Inconsolata';
}

#cookieSpeaks {
	padding-bottom: 20px;
}

/*.blocked {
	display: block;
}*/

#disclaimer {
	text-align: center;
	font-size: 10px;
	padding-top: 20px;
	/*position: absolute;*/
	/*bottom: 40px;*/
}

.disclaimerDiv {
	/*padding-bottom: -10px;*/
}

.connect {
	text-align: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  padding-top: 40px;
  text-align: center;
  vertical-align: middle;
}

/*#fortuneDiv, #fortune, #revealed {
	display: none;
}*/

#fortuneDiv {
	outline: solid black 2px;
	padding: 10px;
}

#fortune {
	text-align: center;
	vertical-align: middle;
	font-family: 'Inconsolata';
}

/*h3 {
	color: gray;
	font-family: 'Covered By Your Grace', sans-serif;
}*/